.swiper {
    width: 240px;
    height: 320px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(1n) {
    background-image: url("../../assets/Images/cards/bg1.png");
  }
  
  .swiper-slide:nth-child(2n) {
    background-image: url("../../assets/Images/cards/bg2.png");
  }
  
  .swiper-slide:nth-child(3n) {
    background-image: url("../../assets/Images/cards/bg3.png");
  }
  .swiper-slide:nth-child(4n) {
    background-image: url("../../assets/Images/cards/bg00.png");
  }
  .swiper-slide:nth-child(5n) {
    background-image: url("../../assets/Images/cards/bg4.png");
  }


  